 <header class="my-nav">
	<div class="wrap_header" >
		
		<div class="my-brand-logo ">
			<a href="/"><img class="my-logo my-nav-brand" src="/img/icons/logo2.png"></a>
		</div>

		<button class="my-toggle-button">
			<span><i class="fa fa-bars"></i></span>
		</button>

		
		<div class="my-collapse">
			<ul class="my-navbar-nav">
			   <a href="/" class="my-nav-link">Home</a> 
			   <a href="/timeline" class="my-nav-link">Events</a> 
			   <!-- <a href="/gallery" class="my-nav-link">Gallery</a> -->
			   <a href="/team" class="my-nav-link">Team</a> 
			   <a href="/about" class="my-nav-link">About </a> 
			   <!-- <a href="/contestant" class="my-nav-link">Contestant</a> -->
			</ul>
		</div>
	
		<div class=" my-collapse"> 
			
		
			
			<a class="my-nav-link" href="/profile" class="my-btn2">Profile</a>
		</div>
	</div>
</header> 



 