<div class=" container mt-4">
  <a style="text-decoration: none; color: #fff; font-size: 30px;" href="/">Xplore</a>
    <div class="side-content">
      <h2 class="title-l">Welcome to Breed</h2>
      <p>
       Make sure to enter the appropiate fields in the form provided. A confirmation message will be sent 
       to the email for verification. Note that only verified email addresses will be published, and will be 
       eligible to participate in the current events.
      </p>

    </div>
    <div class="container">
      <hr>
    </div>
    <div class="side-content">
        <div class="icons">
          <i class="fa fa-facebook"></i>
          <i class="fa fa-twitter"></i>
          <i class="fa fa-instagram"></i>
          <i class="fa fa-youtube-play"></i>
        </div>

    </div>
    
    </div>