<%- include('./partials/navigation') %>

<!-- Banner Start -->
        <div class="banner">
          <div class="container">
            <div class="section-header text-center">
              <h2>Join the next trip at a <span>Special</span> Price</h2>
            </div>
            <div class="container banner-text">
              <p>
                Join Xplore on the next trip as we set to Xplore the city of Uyo in Akwa
                Ibom state. Games and fun at the beach, with Mega Tunez
              </p>
              <a href="#" class="my-btn">Join train</a>
              <!-- <a class="my-btn">Buy ticket</a> -->
            </div>
          </div>
        </div>


        <!-- after banner end-->
        <!-- expereince -->
        <div class=" expericence container">
          <div class="row">
            <div class="col-md-7">
              <h4>Upcoming Tour</h4>
              <p>Add your personal touch to one of our ready-to-bok adventures and enjoy a tours focused solely on your travel group
                . Whether you you climb a volcano with your own guide or soar throught the sky in a hot air balloon, the world is yours
                on a private tour. <br> 
                if you're looking to book a tour for four people or more, send us a mesage and we'l so the hard work for you! <br> <br>
                <a class="my-btn-2" href="#"> start planning</a>
                <a class="my-btn-2" href="ibeno-overview"> Overview</a>
              </p>
            </div>
            <div class="col-md-5">
              <img
              class="img-responsive"
              src="img/selected/ibeno-baner.jpg"
              alt="Events"
            />
            </div>
          </div>
        </div>
        <!-- exp ends -->


          <!-- jumbo alert -->
          <div class="info-baner">
          <div class="container">
              <div class="baner-header"> <h3>
                keep things flexible
              </h3> 
            </div>  
            <p>Use Reserves Now And pay Later to Secure the activities <br> you don't want to miss without being locked out</p>
            </div>
          </div>
          <!-- jumbo alert ends -->


          <!-- new adventure tours -->
          <div class="adventure" id="event">
            <div class="container">
              <h4>Ensuing Tours</h4>
              <div class="row">
                <div class="col-md-3 ">
                  <div class="event-item">
                    <img class="img-responsive" src="img/selected/hot-air-balloon.jpg" alt="hot air balloon" />
                      <div class="details">
                        <h4><a href="#">The Awhum Waterfall- enugu</a></h4>
                      
                        <div class="card-bkt">
                          <ul>
                            <li>  Be amazed by the tales of the sri lanka</li>
                            <li>Be capured into their kingdom, this is to make sure that the text enters the next line</li>
                          </ul>
                        </div>
                        <p>NGN 60,000</p>
                      </div>
                </div>
                </div>
                <div class="col-md-3 ">
                  <div class="event-item">
                    <img class="img-responsive" src="img/selected/pexels-archie-binamira-672358.jpg" alt="Events" />
                      <div class="details">
                        <h4><a href="#"> Ngwo Pine Forest - Old Enugu-Onitsha Nigeria.</a></h4>
                      
                        <div class="card-bkt">
                          <ul>
                            <li> </li>
                            <li>Be capured into their kingdom, this is to make sure that the text enters the next line</li>
                          </ul>
                        </div>
                        <p>NGN 60,000</p>
                      </div>
                </div>
                </div>
                <div class="col-md-3 ">
                  <div class="event-item">
                    <img class="img-responsive" src="img/selected/pexels-eric-sanman-1365425.jpg" alt="Events" />
                      <div class="details">
                        <h4><a href="#">Sri- lanka one jet</a></h4>
                      
                        <div class="card-bkt">
                          <ul>
                            <li>  Be amazed by the tales of the sri lanka</li>
                            <li>Be capured into their kingdom, this is to make sure that the text enters the next line</li>
                          </ul>
                        </div>
                        <p>NGN 60,000</p>
                      </div>
                </div>
                </div>            
                <div class="col-md-3 ">
                  <div class="event-item">
                    <img class="img-responsive" src="img/selected/brazil.jpg" alt="Events" />
                      <div class="details">
                        <h4><a href="#">Rio de jenerio -Christ the redeemer, Sugarloaf </a></h4>
                      
                        <div class="card-bkt">
                          <ul>
                            <li>  Be amazed by the tales of the sri lanka</li>
                            <li>Be capured into their kingdom, this is to make sure that the text enters the next line</li>
                          </ul>
                        </div>
                        <p>NGN 60,000</p>
                      </div>
                </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <!--  new adventures tour ends -->
      
          <!-- pocket plan -->
          <div class="pocket-plan">
            <div class="container">
              <h2>Any category</h2>
              <p>Book for any category, we have special offer for any of the items you seclect</p>
              <div class="row">
                <div class="col-md-4">
                  <div class="pocket-plan-item">
                    <img src="/img/selected/pexels-ahmad-syahrir-758744.jpg" alt="">
                    <h3>Solo</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa non eaque accusantium quis quod amet exercitationem beatae. Aperiam consequatur consectetur est, voluptates obcaecati blanditiis culpa quidem deleniti, laboriosam quis fugiat.</p>
                    <a class="my-btn-2" href="#"> Book adventure</a>
                  </div>
                  
                </div>
                <div class="col-md-4">
                  <div class="pocket-plan-item">
                    <img src="/img/selected/couple-tour.jpg" alt="">
                    <h3>Couple</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa non eaque accusantium quis quod amet exercitationem beatae. Aperiam consequatur consectetur est, voluptates obcaecati blanditiis culpa quidem deleniti, laboriosam quis fugiat.</p>
                    <a class="my-btn-2" href="#"> Book adventure</a>
                  </div>
                  
                </div>
                <div class="col-md-4">
                  <div class="pocket-plan-item">
                    <img src="/img/selected/family-tour.jpg" alt="">
                    <h3>Family</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa non eaque accusantium quis quod amet exercitationem beatae. Aperiam consequatur consectetur est, voluptates obcaecati blanditiis culpa quidem deleniti, laboriosam quis fugiat.</p>
                    <a class="my-btn-2" href="#"> Book adventure</a>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <!-- pocket plan ends -->


        <!-- jumbo alert -->
        <div class="info-baner">
          <div class="container">
              <div class="baner-header"> <h3>
               Free cancellation
              </h3> 
            </div>  
            <p>You'll recieve your refund if you cancel at <br> least 24 hour in advance of most expereince</p>
            </div>
          </div>
          <!-- jumbo alert ends -->
          <!-- company statement -->
          <div class="company-statement">
            <div class=" container">
          
                <h4>What makes adventure travel Special?</h4>
                <p>Adventure travel is a way to explore the world which requires daring sprirt and physical exertion. It may involve taking the road les traveled. Using a focused actitvity such as diving, kayaking, climbing or
                  hiking a s means to discover or push beyond your comfort zone.</p>
                  <p>There are so many ways to embark upon an adventure, and while some people choose to submit the highest peak or cycle the passes in alpine regions, others long for the world below the sea or the wilderness of the African bush. At the root of all this expereinces is a desire ti journey further. But even the faint heart can go on an adventure hodliday. It's just about finding the right adventure cacation package for you.</p>
                  <p>essentially, this kind of travel is for anyone who has a sense of adventure, and we all have that!</p> <br> 
                  <a class="my-btn-2" href="#"> Book adventure</a>
                </p>
          

            </div>
          </div>
          <!-- com statement ends -->

    
          <!-- team -->
          <div class="event" id="team">
            <div class="container">
              <div class="section-header text-center mb-4">
                <!-- heading -->
                <h2>Team</h2>
              </div>
              <div class="row">
                <div class="col-md-3 col-sm-4">
                  <!-- event item -->
                  <div class="event-item">
                    <!-- image -->
                    <img class="img-responsive" src="img/event/1.jpg" alt="Events" />
                    <!-- heading -->
                    <h4><a href="#">Paul Adriku</a></h4>
                    <!-- sub text -->
                    <span class="sub-text">CEO</span>
                    <!-- paragraph -->
                    <p>
                      It is our belief that in order to be most efficient it requires
                      adaptive technology and software solutions.
                    </p>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4">
                  <!-- event item -->
                  <div class="event-item">
                    <!-- image -->
                    <img class="img-responsive" src="img/event/1.jpg" alt="Events" />
                    <!-- heading -->
                    <h4><a href="#">Michael Adariku</a></h4>
                    <!-- sub text -->
                    <span class="sub-text">Event Dj and Tech Engineer</span
                    >
                    <!-- paragraph -->
                    <p>
                      It is our belief that in order to be most efficient it requires
                      adaptive technology and software solutions.
                    </p>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4">
                  <!-- event item -->
                  <div class="event-item">
                    <!-- image -->
                    <img class="img-responsive" src="img/event/1.jpg" alt="Events" />
                    <!-- heading -->
                    <h4><a href="#">Macaroons live Party</a></h4>
                    <!-- sub text -->
                    <span class="sub-text"
                      >Integrating technology and software solutions.</span
                    >
                    <!-- paragraph -->
                    <p>
                      It is our belief that in order to be most efficient it requires
                      adaptive technology and software solutions.
                    </p>
                  </div>
                </div>
          
                <div class="col-md-3 col-sm-4">
                  <!-- event item -->
                  <div class="event-item">
                    <!-- image -->
                    <img class="img-responsive" src="img/event/1.jpg" alt="Events" />
                    <!-- heading -->
                    <h4><a href="#">Macaroons live Party</a></h4>
                    <!-- sub text -->
                    <span class="sub-text"
                      >Integrating technology and software solutions.</span
                    >
                    <!-- paragraph -->
                    <p>
                      It is our belief that in order to be most efficient it requires
                      adaptive technology and software solutions.
                    </p>
                  </div>
                </div>
          
              </div>
            </div>
          </div>
          <!-- team end -->




<%- include('./partials/footer') %>
