<%- include('./partials/navigation') %>

<!-- Banner Start -->
        <div class="banner">
          <div class="container">
            <div class="section-header text-center">
              <h2>Join the next trip at a <span>Special</span> Price</h2>
            </div>
            <div class="container banner-text">
              <p>
                Join Xplore on the next trip as we set to Xplore the city of Uyo in Akwa
                Ibom state. Games and fun at the beach, with Mega Tunez
              </p>
              <a href="#" class="my-btn">Join train</a>
              <!-- <a class="my-btn">Buy ticket</a> -->
            </div>
          </div>
        </div>


       <div class="competition-info">
        <div class="container">
            <header class="section-header text-center">
              <h2>Trip details</h2>
              </header>
              <div class="info">
              <div class="row">
                <div class="col-md-5">
                  <img
                    class="img-responsive"
                    src="img/selected/ibeno-baner.jpg"
                    alt="Events"
                  />
                </div>
                <div class="col-md-7">
                  <div class="container">
                    <p>
                      Ibeno Local Government Area is located at the South end of Akwa
                      Ibom State, occupying a vast coastal area of over 1,200 sq. km. It
                      stretches from Okposo I at the eastern flank, bordering Mbo Local
                      Government Area and Bakassi Pennisula to Atabrikang village on its
                      Western flank. It is bounded in the South by the Atlantic Ocean
                      and shares border with Eket, Esit Eket, Onna and Eastern Obolo
                      local government areas. Ibeno Beach stretches for about 30
                      kilometres from Ibeno to James Town along the Atlantic coastline
                      of Akwa Ibom State in Nigeria. It is said to be the longest beach
                      in West Africa. With its beautiful coastline, Ibeno provides
                      endless natural facilities for tourism, water sporting, beach
                      soccer and general boating. The endless white sand dunes extending
                      as far as the eyes can see along the Atlantic are unaltered by the
                      waves that pour violently on the seashore.
                    </p>
                  </div>
                </div>
                  <div class="container">
                    <p>
                      History has it that the
                      area was first occupied around 1200-1500 BC by Ibeno indigenes.
                      The alluring array of trees lined along the beach provides good
                      shelter from the burning rays of the sun for visitors looking for
                      shade after sunbathing or taking strolls about the place.The beach
                      provides an ample view of the Gulf of Guinea over which the
                      scattered gas flares from ExxonMobil offshore oil platforms create
                      a scintillating image of flaming tongues of fire on the sea.
                      Ibeno beach is located in Ibeno Local Government Area and is South of
                      Eket LGA. Ibeno is also very popular for tourism since it was the
                      landing site of the qua Ibo christian missions from scotland which was
                      one of the most successful christian missions in Nigeria, in the early
                      20th century leading to the conversion of many Nigerians to the faith,
                      Ibeno Houses a lot of relic of that missionary expedition.  
            
                 
              
                    </p>
                  </div>
              
                <div class="safety-tips">
                  <div class="section-header text-center mb-4">
                    <h2> Tips for Trip</h2>
                  </div>

                  <p>
                    Before hitting the waves, there are a few things to keep in mind.
                    Even if you're heading to the pool or lake instead of the ocean,
                    listen up — many of the tips below apply to hanging out near any
                    body of water. No matter where you're headed, we've rounded up 3
                    tips to help you keep safe at the shore.
                  </p>
                  <div class="tips">
                    <div class="row">
                      <div class="col-md-5">
                        <img class="img-responsive" src="img/selected/pexels-pavel-danilyuk-6716297.jpg" alt="Events"/>
                      </div>
                      <div class="col-md-7">
                        <h4>1. Watch for warning flags (and know what they mean).</h4>
                        <p>
                          Exercise caution and stay near the lifeguards. Green flags indicate the ocean is calm or clear (though it's always smart to remain alert). Blue or purple flags often indicate that potentially dangerous marine life (think sharks or jellyfish) are in the area or have been spotted nearby. Use caution.
                          And remember: Not all beaches are suitable for swimming, so know the rules before you set foot on the sand.
                        </p>
                    </div>
                    </div>
                  </div>  

                  <div class="tips">
                    <div class="row">
                      <div class="col-md-5">
                        <img
                        class="img-responsive"
                        src="img/selected/pexels-porapak-apichodilok-346776.jpg"
                        alt="Events"
                      />
                      </div>
                      <div class="col-md-7">
                        <h4>2. Know how to swim.</h4>
                        <p>
                          Ocean swimming is different from swimming in a calm pool or lake —
                          be prepared to deal with strong surf before running in. If you're at
                          the beach with a child or adult who can't swim, make sure everyone
                          has a well-fitting lifejacket handy. If you're going boating, every
                          passenger should wear a properly-sized lifejacket at all times. Also
                          keep in mind that the ocean floor is not flat and beaches can change
                          drastically from year to year. When heading into the water, be aware
                          that the ocean floor can drop off unexpectedly, so don't move out
                          quickly without being prepared to swim in water over your head.
                        </p>
                      </div>
          

                    </div>
                  </div>  

                  <div class="tips">
                    <div class="row">
                      <div class="col-md-5">
                        <img
                        class="img-responsive"
                        src="img/selected/pexels-ee-a-9366366.jpg"
                        alt="Events"
                      />
                      </div>
                      <div class="col-md-7">
                        <h4>3. Be aware of the waves..</h4>
                        <p>
                          When in the water or near the water line (where the water hits the shore), never put your back to the waves.
                          Also be sure to check in with the lifeguard before hitting the surf to ask about the wave conditions at your beach.
                        </p>
                    </div>
                    </div>
                  </div>  
                </div>



                </div>
              </div>
        </div>
      </div> 

            <!-- new adventure tours -->
            <div class="adventure">
                <div class="container">
                  <h4>Ensuing Tours</h4>
                  <div class="row">
                    <div class="col-md-3 ">
                      <div class="event-item">
                        <img class="img-responsive" src="img/selected/hot-air-balloon.jpg" alt="hot air balloon" />
                          <div class="details">
                            <h4><a href="#">The Awhum Waterfall- enugu</a></h4>
                          
                            <div class="card-bkt">
                              <ul>
                                <li>  Be amazed by the tales of the sri lanka</li>
                                <li>Be capured into their kingdom, this is to make sure that the text enters the next line</li>
                              </ul>
                            </div>
                            <p>NGN 60,000</p>
                          </div>
                    </div>
                    </div>
                    <div class="col-md-3 ">
                      <div class="event-item">
                        <img class="img-responsive" src="img/selected/pexels-archie-binamira-672358.jpg" alt="Events" />
                          <div class="details">
                            <h4><a href="#"> Ngwo Pine Forest - Old Enugu-Onitsha Nigeria.</a></h4>
                          
                            <div class="card-bkt">
                              <ul>
                                <li> </li>
                                <li>Be capured into their kingdom, this is to make sure that the text enters the next line</li>
                              </ul>
                            </div>
                            <p>NGN 60,000</p>
                          </div>
                    </div>
                    </div>
                    <div class="col-md-3 ">
                      <div class="event-item">
                        <img class="img-responsive" src="img/selected/pexels-eric-sanman-1365425.jpg" alt="Events" />
                          <div class="details">
                            <h4><a href="#">Sri- lanka one jet</a></h4>
                          
                            <div class="card-bkt">
                              <ul>
                                <li>  Be amazed by the tales of the sri lanka</li>
                                <li>Be capured into their kingdom, this is to make sure that the text enters the next line</li>
                              </ul>
                            </div>
                            <p>NGN 60,000</p>
                          </div>
                    </div>
                    </div>            
                    <div class="col-md-3 ">
                      <div class="event-item">
                        <img class="img-responsive" src="img/selected/brazil.jpg" alt="Events" />
                          <div class="details">
                            <h4><a href="#">Rio de jenerio -Christ the redeemer, Sugarloaf </a></h4>
                          
                            <div class="card-bkt">
                              <ul>
                                <li>  Be amazed by the tales of the sri lanka</li>
                                <li>Be capured into their kingdom, this is to make sure that the text enters the next line</li>
                              </ul>
                            </div>
                            <p>NGN 60,000</p>
                          </div>
                    </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
              <!--  new adventures tour ends -->
<%- include('./partials/footer') %>