<section>
  
    
    <div class="my-reg-grid">
      <!-- payment paragraph -->
      <div class="left-reg">
        <%- include ('./partials/sidebar') %>
      </div>
      
      <div class="right-reg">
          <div class="form-center">
                <!-- <a href="/"><img class="my-logo my-nav-brand" src="/img/icons/logo2.png"></a> -->
                 <div class="my-gap mt-4">
                 <%- include ('./partials/messages') %>
                 </div>

            <form class="row g-3 my-margin" action="/auth/login" method="POST">
              <!-- email -->
              <div class="col-md-12">
                <input
                  type="email"
                  class="my-form-control"
                  id="inputEmail"
                  name="email"
                  placeholder="email"
                />
              </div>
  
              <!-- password -->
              <div class="col-md-12">
                <input
                  type="password"
                  class="my-form-control"
                  id="password"
                  name="password"
                  placeholder="password"
                />
              </div>
  
              <div class="col-12">
                <button type="submit" class="my-btn-2" style="width: 100%">
                  Enter Your Ego
                </button>
              </div>
            </form>


               <p class="reg-link"> forgot password?  click <a href="/auth/forgot" >Reset</a> Password</p>
               <p class="reg-link"> To Create account click <a href="/auth/register" >here</a></p>
  
          </div>
        
      </div>


    </div>
  </div>
</section>
