<%-include('./partials/navigation') %>


  <!-- Banner Start -->
  <div class="banner">
    <div class="container">
        <div class="section-header text-center">
            <div class="section-header text-center mb-4">
                <h2>Timeline</h2>
            </div>
        </div>
    </div> 
  </div>



      <!-- Experience Start -->
     <div class="experience" >
      <div class="container">
        <header class="section-header text-center">
          <h2>Timeline</h2>
        </header>
        <div class="timeline">
          <div class="timeline-item left">
            <div class="timeline-text">
              <div class="timeline-date">2045 - 2050</div>
              <h2>Web Developer</h2>
              <h4>Soft Agency, San Francisco, CA</h4>
              <p>
                Lorem ipsum dolor sit amet elit. Aliquam odio dolor, id luctus erat sagittis non. Ut blandit semper pretium.
              </p>
            </div>
          </div>
          <div class="timeline-item right" >
            <div class="timeline-text">
              <div class="timeline-date">2045 - 2050</div>
              <h2>Web Developer</h2>
              <h4>Soft Agency, San Francisco, CA</h4>
              <p>
                Lorem ipsum dolor sit amet elit. Aliquam odio dolor, id luctus erat sagittis non. Ut blandit semper pretium.
              </p>
            </div>
          </div>
          <div class="timeline-item left ">
            <div class="timeline-text">
              <div class="timeline-date">2045 - 2050</div>
              <h2>Web Developer</h2>
              <h4>Soft Agency, San Francisco, CA</h4>
              <p>
                Lorem ipsum dolor sit amet elit. Aliquam odio dolor, id luctus erat sagittis non. Ut blandit semper pretium.
              </p>
            </div>
          </div>
          <div class="timeline-item right">
            <div class="timeline-text">
              <div class="timeline-date">2045 - 2050</div>
              <h2>Web Developer</h2>
              <h4>Soft Agency, San Francisco, CA</h4>
              <p>
                Lorem ipsum dolor sit amet elit. Aliquam odio dolor, id luctus erat sagittis non. Ut blandit semper pretium.
              </p>
            </div>
          </div>
          <div class="timeline-item left ">
            <div class="timeline-text">
              <div class="timeline-date">2045 - 2050</div>
              <h2>Web Developer</h2>
              <h4>Soft Agency, San Francisco, CA</h4>
              <p>
                Lorem ipsum dolor sit amet elit. Aliquam odio dolor, id luctus erat sagittis non. Ut blandit semper pretium.
              </p>
            </div>
          </div>
          <div class="timeline-item right ">
            <div class="timeline-text">
              <div class="timeline-date">2045 - 2050</div>
              <h2>Web Developer</h2>
              <h4>Soft Agency, San Francisco, CA</h4>
              <p>
                Lorem ipsum dolor sit amet elit. Aliquam odio dolor, id luctus erat sagittis non. Ut blandit semper pretium.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>  
    <!-- Job Experience End -->


    <%-include('./partials/footer') %>