	<section>		
			 <div class="bg-title-sub-page jumbo">
			<%- include('./partials/open-navigation')  %> 
			<div class="sub-pager">   
				<div class="container"> 
					<div class="my-center">

						<div class="center-container">
							<div class="my-text-intro">
								<div class="container">
									<h2 class="title-l">Welcome to Breed</h2>
									<p style="margin-bottom: 60px;">
										Lorem ipsum dolor sit amet consectetur adipisicing elit. 
										Reprehenderit voluptas pariatur quae maiores et laudantium rerum placeat.
										Enim natus vitae labore deserunt maxime, totam, dolores eum, amet qui voluptatibus dolore?
									</p>
									<div class="home-btn">
										<a href="/auth/login" class="my-btn mt-5">log in</a>
										<a href="/auth/register" class="my-btn mt-5">Register</a>
									</div>
								</div>
							</div>
						</div>

					</div>  
				</div>

			</div>
	</section>


				


